/* Select field */

#select{
  font-size: 13px;
  padding: 10px;
  color: #333;
  width: 80%;
  box-sizing:border-box;
  letter-spacing: 1px;
  border-width:0px 0px 1px 0px;
  margin-bottom: 0;
}


/* Select field animation */
.effect-2 ~ .focus-border-container-2{
  width:80%;
  display: flex;

}

/* baseline style */
.effect-2 ~ .focus-border-container-2 .focus-border-2{
  display:block;
  width: 0;
  height: 2px;
  background-color: #4caf50;
  transition: 0.4s;}

/* baselne animation on hover*/
.effect-2:hover ~ .focus-border-container-2 .focus-border-2{
width: 100%;
transition: 0.4s;
}
